.board ::v-deep {
  max-width: 100%;
  overflow: auto;
  padding: 0 25px;

  .btn {
    cursor: pointer;
  }

  .form {
    margin: 0 25px;

    .form__title,
    .form__description {
      padding: 10px;
      display: block;
      margin: 5px 0;
    }
  }

  .columns {
    display: flex;

    .column {
      border: 1px solid #ccc;
      padding: 0 10px;
      margin: 0 10px 0 0;

      .card {
        cursor: pointer;
        border: 1px dotted #161616cc;
        padding: 0 15px;
        margin: 15px 0;
      }
    }
  }
}